@media only screen and (min-width: 480px) and (max-width: 1020px) {
  .row {
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
  .row .row { padding: 0; }
}

.row {
  width: 100%;
  max-width: 1000px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after { clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-right: 0;
  padding-left: 0;
}

.row.collapse .row {
  margin-right: 0;
  margin-left: 0;
}

.row .row {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-right: -12.5px;
  margin-bottom: 0;
  margin-left: -12.5px;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  display: table;
  content: " ";
}

.row .row:after { clear: both; }

.row .row.collapse {
  width: auto;
  max-width: none;
  margin: 0;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  display: table;
  content: " ";
}

.row .row.collapse:after { clear: both; }

.row.space-top { padding-top: 25px; }

.row.space-top.double { padding-top: 50px; }

.row.space-bottom { padding-bottom: 25px; }

.row.space-bottom.double { padding-bottom: 50px; }

.row.collapse-gutters .columns,
.row.collapse-gutters .column { padding: 0 6.25px; }

.row.collapse-gutters .columns:first-child,
.row.collapse-gutters .column:first-child { padding: 0 6.25px 0 12.5px; }
  
.row.collapse-gutters .columns:last-child,
.row.collapse-gutters .column:last-child { padding: 0 12.5px 0 6.25px; }