body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404040;
  font-family: $basefont-stack;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 25.5px;
}

p.centered { text-align: center; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 25.5px 0;
  color: $white;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 400;
}

h1.centered, 
h2.centered, 
h3.centered, 
h4.centered, 
h5.centered { text-align: center; }

h1 {
  font-size: 33px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: -1px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 57px;
    letter-spacing: -2px;
  }
}

h2 {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.5px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 33px;
    line-height: 38px;
  }
}

h3 {
  font-size: 23px;
  line-height: 28.5px;
  letter-spacing: -0.5px;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 31px;
  }
}

h4 {
  font-size: 19px;
  line-height: 25.5px;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 23px;
    line-height: 28.5px;
    letter-spacing: -0.5px;
  }
}

h5 {
  font-size: 17px;
  line-height: 23.5px;
  margin-bottom: 12.75px;
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 20px;
    line-height: 25.5px;
    letter-spacing: -0.5px;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.close-heading {
  margin-bottom: 3px !important;
}

.caption, .article-text figcaption {
  color: #76736c;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0 12.5px 0;
}
.caption.light, .article-text figcaption.light {
  color: #d4d4d4;
}
.caption.dark, .article-text figcaption.dark {
  color: #262626;
}
.caption.centered, .article-text figcaption.centered {
  text-align: center;
}

small {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

blockquote {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: $black;
}