-var pageTitle ="Kankakee Community College campus look for seniors in high school"
-var pageDescription ="Take the first step to achieving your goals, dreams and ambitions. Even if you’re not sure what the future holds, the faculty and staff at KCC are ready to help. Schedule a campus visit or connect with us online."

doctype html
html(class="no-js", lang="en")
  include header
  body.html.front.not-logged-in.no-sidebars.page-frontpage
    include jade/navigation-header
    include jade/enroll
    include jade/whats-new
    include jade/find-your-fit
    include jade/saved-a-space
    include jade/fifty-eight-quality-choices
    include footer