-var pageTitle ="Paying for college"

doctype html
html(class="no-js", lang="en")
  include header
  body.html.front.not-logged-in.no-sidebars.page-frontpage
    include jade/navigation-header
    include jade/paying-college
    include footer