section.enroll
  .row.space-top.space-bottom.double
    .column
      h2.centered Get started
      .panel.centered
        ol
          li
            a(href='http://www.kcc.edu/admissions') Apply
          li
            a(href='#') Advise
              span /
              | Assess
          li
            a(href='http://www.kcc.edu/register') Register
          