section.fifty-eight-quality-choices
  .row.space-top.space-bottom.double
    .column
      h2.centered 58 Choices for a quality education
      .large-4.columns
        
        h3 Transfer programs
        p You can transfer after KCC and then complete a bachelor's degree. In fact, we
          | guarantee it! With transfer agreements, you can finish your KCC degree then entered
          | any four-year public university in illinois as a junior.
          br
          a(href='http://www.kcc.edu/future/choosing/transfer/Pages/default.aspx') Learn more about our transfer programs
        
        h3 Occupational programs
        p These options get you ready for a career. Our programs and courses meet national
          | accreditation standards. 
          a(href='http://www.kcc.edu/future/choosing/occupational/Pages/default.aspx') Many of these programs
          |  offer short-term options such as
          | certificates which take from one semester to one year.
      .large-8.columns
        div.information-arrow
          details
            summary Earnings Opportunity
            p If you are excelling in class, you may become a tutor or a lab assistant.    
        