section.find-your-fit
  .row.space-top.space-bottom.double
    .column
      h2.centered Find your fit
      .large-3.medium-6.columns
        details 
          div
            | Be a full-time student
            | (12 credits or more).
          summary Ready to dive in?
        details
          | Enroll part-time.
          summary Want to take one class or just a few classes?
        details
          | Sign up early bird 8 a.m. classes.
          summary Up with the sun?
      .large-3.medium-6.columns
        details
          | Look for classes that end at 10:30 p.m.
          summary Night owl?
        details
          | Online classes are your opportunity to go
          | to class while wearing pajamas. KCC is right
          | next to the Riverfront Trail which winds
          | for 2.3 miles from Hawkins street in
          | Kankakee to the Splash Valley Aquatic Center.
          summary Need more options?
      .large-6.medium-12.columns
        img(src='../images/campus-photos.jpg')