section.find-fun
  .row.space-top.space-bottom.double
    .column
      .large-6.medium-6.columns
      .large-6.medium-6.columns
        .clubs
          h2.text-right Find
            span -
            | fun
          p Whether you want to give back to the community, learn more about horticulture or 
            | just chat about a movie, KCC probably has a club for you. 
            a.button.our-blue.small(href="http://www.kcc.edu/studentlife") Student life