section.hero-shot
  .row.space-top.double
    .column
      .large-7.medium-7.columns
        h2.centered Take the first step
          br 
          to achieving your
          br 
          span goals, dreams & ambitions.
      .large-5.medium-5.columns