header.global-header.standard
  .row
    .columns
      a.current-parent.wordmark.active(href="/") Kankakee Community College
      // Only visible on small and medium screens
      a.icon-menu.header-btn.header-btn-menu(href="#")
      a.icon-magnifier.header-btn.header-btn-search(href="#")
      // /
      .global-nav
        ul.action-nav.inline-list.clearfix
        .mobile-nav
          ul.primary-nav.inline-list
            li.primary-nav-item
              a.primary-nav-toggler(href="/student.html") student life
            li.primary-nav-item
              a.primary-nav-toggler(href="/paying-for-college.html") paying for college
     