section.paying-college
  .row.space-top.space-bottom
    .column
      h2.centered Paying for college
      .large-5.medium-5.columns
        .blue-text
          p When it comes to college, few things are more important than finding a way to pay.
            | Here's some basic information and resources to learn more.
              
          h3 Scholarships. Grants. Loans.
          p KCC offers over $200,000 in scholarships every year. 
            | Apply online for KCC scholarships. Applications are available Nov. 1 and the
            | application deadline is March 1.
             
          p To start the process, complete a 
            a(href='http://www.fafsa.gov') 
              | Free Application for Federal Student Aid
            |  Regardless of the college you attend, the FAFSA is the form to use 
            | to apply for federal financial aid. You'll need KCC's Title IV school 
            | code: 007690. It pays to be informed. KCC's 
            a(href='http://www.kcc.edu/financialaid') financial aid website
            |  has details.
            
          h3 The cost
          P KCC tuition and fees are $ 135 per credit hour. Books and supplies average about $500 per semester.
          
          p For example, if you take 12 credit hours. the cost for tuition and fees will be 
            | $1,620. KCC is a fraction of the cost of our neighboring four-year colleges and
            | universities.
            
          p KCC also offers a 
            a(href='http://www.kcc.edu/facts') tuition payment plan.   
      .large-7.medium-7.columns
          h3.grad-cap-two
            span Compare 
            br
            | tuition and fees
            br 
            for one year
          p Full time or 24 credit hours
          ul
            li Kankakee Community College 
               br
               span $3,240
            li Governors State University 
               br
               span $15,018
            li DeVry University 
               br
               span $12,176
            li Olivet Nazarene University 
               br
               span $32,790
            li Eastern Illinois University 
               br
               span $11,108
            li University of Illinois Urbana-Champaign 
               br
               span $15,636 - $20,640
            li Southern Illinois University-Carbondale 
               br
               span $13,137
            li Northern Illinois University 
               br
               span $11,702
            li Illinois State University 
               br
               span $10,672
         
        