section.saved-a-space
  .row.space-top
    .column
      .large-7.columns
        figure
          img(src='../images/you-parking.jpg')
      .large-5.columns
        h2.centered We saved a space for you
  .row.space-bottom
    .column
          p.centered Drive a car. Pedal a bike. Ride the bus. Walk the trail.
            br
            span There's plenty of parking no matter how you arrive.