section.whats-new
  .row.space-top.double
    .column
      h2.centered What
        span '
        | s new?
      .figure-set
        figure
          figcaption
            a(href='http://www.kcc.edu/library/Pages/default.aspx')
              span 2013
              | Harold and Jean Miner Memorial Library
        figure
          figcaption
            a(href='http://www.kcc.edu/Community/Collegeinfo/collegelocations/sec/Pages/default.aspx')
              span 2013
              | Harold and Jean Miner South Extension Center
        figure
          figcaption
            a(href='http://www.kcc.edu/Community/Collegeinfo/collegelocations/Pages/mitc.aspx')
              span 2014
              | Manufacturing and Industrial Technology Center
        figure
          figcaption
            a(href='http://www.kcc.edu/Community/Collegeinfo/collegelocations/nec/Pages/default.aspx')
              span 2014
              | North Extension Center
        figure
          figcaption
            a(href='http://www.kcc.edu/Community/Collegeinfo/collegelocations/Pages/atec.aspx')
              span 2016
              | Advanced Technology Education Center
          