.enroll { 
  min-height: 598px;
  color: $text-secondary-colour;
  background-color: #544746;
  background-image: url('#{$imagedir}hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.enroll h2{
  font-size: 78px;
  font-family: $secondaryfont-stack;
  line-height: 1.0em;
}

.enroll .panel{
  width:380px;
  background-color: rgba(0,139,171,0.70);
  border: none;
  margin: 0 auto;
}
.enroll li{
  color: $text-secondary-colour;
  font-size: 58px;
  font-family: $secondaryfont-stack;
  line-height: 1.0em;
  list-style-position: inside;
  text-indent: -7px;
  }
.enroll li a{
  color: $text-secondary-colour;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 450px) {
  .enroll { 
  min-height: 294px;
}

  .enroll h2{
  font-size: 36px;
  font-family: $secondaryfont-stack;
  line-height: 1.0em;
}

.enroll .panel{
  width:294px;
}
  
  .enroll li{
  font-size: 30px;
  }
  
    .enroll li a{
  font-size: 30px;
  }
}

@media screen and (min-width: 482px) and (max-width: 1023px) {
    .enroll { 
  min-height: 340px;
}

  .enroll h2{
  font-size: 50px;
  font-family: $secondaryfont-stack;
  line-height: 1.0em;
}

.enroll .panel{
  width:340px;
}
  
  .enroll li{
  font-size: 30px;
  }
}